{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'share/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'share/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'share/responsive.css' %}">


<body class="login" data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="{% url 'share:login' %}">Docker Platform Login</a></h1>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        {% if error_message %}
                <div class="errornote">{{ error_message }}</div>
            {% endif %}
        <div id="content-main">
            <form action="{% url 'share:login' %}" method="post" id="login-form">
                {% csrf_token %}
                <div class="form-row">
                    <label class="required" for="id_username">Username:</label>
                    <input type="text" name="username" autofocus="" required="" id="id_username">
                </div>
                <div class="form-row">
                    <label class="required" for="id_password">Password:</label>
                    <input type="password" name="password" required="" id="id_password">
                </div>
                <div class="submit-row">
                    <input type="submit" value="Log in">
                </div>
            </form>
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
</body>